# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# CocoaPods (not used, but ignore if ever added)
Pods/

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
